body {
    text-align: center;
}

.links {
    font-family: cursive;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    float: left;
}